{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des sorties{% endblock %}

{% block body %}
    <h1>Filtrer les sorties</h1>
    {{ form_start(rechercheSortiesForm) }}
    {{ form_widget(rechercheSortiesForm) }}
    <button class="btn btn-secondary">Rechercher</button>
    {{ form_end(rechercheSortiesForm) }}

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Campus</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                {% if sortie.etat.libelle != 'En création' or sortie.organisateur.id == app.user.id %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.campus.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date }}</td>
                        <td>Clôture{# TODO #}</td>
                        <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% for participant in sortie.participants %}
                                {% if participant.pseudo == app.user.pseudo %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sortie.organisateur.pseudo }}</td>
                        <td>
                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">Détail</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
