{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des sorties{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <h1>Filtrer les sorties</h1>
    {{ form_start(rechercheSortiesForm) }}
    {{ form_widget(rechercheSortiesForm) }}
    <button class="btn btn-secondary">Rechercher</button>
    {{ form_end(rechercheSortiesForm) }}

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Campus</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tboby>
            {% for sortie in sorties %}
                {% if sortie.etat.libelle != 'En création' or sortie.organisateur.pseudo == app.user.pseudo %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.campus.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date }}</td>
                        <td>Clôture{# TODO #}</td>
                        <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% for participant in sortie.participants %}
                                {% if participant.pseudo == app.user.pseudo %}
                                    <strong>X ({{ participant.pseudo }})</strong>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_participant_profil', { id: sortie.organisateur.id }) }}">
                                {{ sortie.organisateur.pseudo }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('sortie_detail', { id: sortie.id }) }}">
                                Détail
                            </a>
                            {% if sortie.etat.libelle == "Ouverte" and app.user not in sortie.participants %}
                                <a href="{{ path('sortie_inscrire', { id: sortie.id }) }}">S'inscrire</a>
                            {% endif %}
                            {% if sortie.etat.libelle == "Ouverte" and app.user in sortie.participants %}
                                <a href="{{ path('sortie_desister', { id: sortie.id }) }}">Se désister</a>
                            {% endif %}
                            {% if sortie.etat.libelle == "En création" %}
                                <a href="{{ path('sortie_publier', { id: sortie.id }) }}">Publier</a>
                            {% endif %}
                            {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                <a href="{{ path('sortie_modifier', { id: sortie.id }) }}">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tboby>
    </table>

{% endblock %}
