{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <h1>Filtrer les sorties</h1>
    <div class="container my-4">
        <div class="card shadow-sm mb-5 form-background">
            <div class="card-body">
                {{ form_start(rechercheSortiesForm) }}
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="row g-3">
                            <div class="col-md-6">
                                {{ form_label(rechercheSortiesForm.campus) }}
                                {{ form_widget(rechercheSortiesForm.campus, {'attr':{'class': 'form-control'}}) }}
                                {{ form_errors(rechercheSortiesForm.campus) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(rechercheSortiesForm.nom) }}
                                {{ form_widget(rechercheSortiesForm.nom, {'attr':{'class': 'form-control'}}) }}
                                {{ form_errors(rechercheSortiesForm.nom) }}
                            </div>
                        </div>

                        <div class="row g-3 mt-3">
                            <div class="col-md-6">
                                {{ form_label(rechercheSortiesForm.dateHeureDebutRecherche) }}
                                {{ form_widget(rechercheSortiesForm.dateHeureDebutRecherche, {'attr':{'class': 'form-control'}}) }}
                                {{ form_errors(rechercheSortiesForm.dateHeureDebutRecherche) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(rechercheSortiesForm.dateHeureFinRecherche) }}
                                {{ form_widget(rechercheSortiesForm.dateHeureFinRecherche, {'attr':{'class': 'form-control'}}) }}
                                {{ form_errors(rechercheSortiesForm.dateHeureFinRecherche) }}
                            </div>
                        </div>

                        <div class="mt-4 text-center">
                            <button class="btn btn-success me-2">Rechercher</button>
                            <a class="btn btn-primary" href="{{ path('sortie_enregistrer') }}">Proposer une sortie</a>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                {{ form_row(rechercheSortiesForm.userOrganisateur) }}
                                {{ form_row(rechercheSortiesForm.userInscrit) }}
                                {{ form_row(rechercheSortiesForm.userPasInscrit) }}
                                {{ form_row(rechercheSortiesForm.sortiesTerminees) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(rechercheSortiesForm) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-bordered table-striped text-center align-middle">
                    <thead class="table-dark">
                    <tr class="text-center align-middle">

                    <th>Nom de la sortie</th>
                        <th>Campus</th>
                        <th>Date de la sortie</th>
                        <th>Date de fin d'inscription</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {% if sortie.etat.libelle != 'En création' and sortie.etat.libelle != 'Historisée' or sortie.organisateur.pseudo == app.user.pseudo %}
                            <tr>
                                <td>{{ sortie.nom }}</td>
                                <td>{{ sortie.campus.nom }}</td>
                                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                                <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                                <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</td>
                                <td>{{ sortie.etat.libelle }}</td>
                                <td>
                                    {% if app.user in sortie.participants %}
                                        ✅
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_participant_profil', { id: sortie.organisateur.id }) }}">
                                        {{ sortie.organisateur.pseudo }}
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-info mb-1" href="{{ path('sortie_detail', { id: sortie.id }) }}">Détail</a>
                                    {% if sortie.etat.libelle == "Ouverte" and app.user not in sortie.participants %}
                                        <a class="btn btn-sm btn-success mb-1" href="{{ path('sortie_inscrire', { id: sortie.id }) }}">S'inscrire</a>
                                    {% endif %}
                                    {% if (sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée") and app.user in sortie.participants %}
                                        <a class="btn btn-sm btn-warning mb-1" href="{{ path('sortie_desister', { id: sortie.id }) }}">Se désister</a>
                                    {% endif %}
                                    {% if sortie.organisateur.pseudo == app.user.pseudo and sortie.etat.libelle == "En création" %}
                                        <a class="btn btn-sm btn-secondary mb-1" href="{{ path('sortie_modifier', { id: sortie.id }) }}">Modifier</a>
                                        <a class="btn btn-sm btn-success mb-1" href="{{ path('sortie_publier', { id: sortie.id }) }}">Publier</a>
                                    {% endif %}
                                    {% if sortie.organisateur.pseudo == app.user.pseudo and sortie.dateHeureDebut > "now"|date and sortie.etat.libelle == "Ouverte" %}
                                        <a class="btn btn-sm btn-danger mb-1" href="{{ path('sortie_annuler', { id: sortie.id }) }}">Annuler</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
